<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student</title>
</head>
<body>
    <h1>Student data</h1>
    <form action="" method="POST">
    name <input type="text" name="name" placeholder="Enter your Name">
    age<input type="text" name="age" placeholder="Enter your Age">
    class <input type="text" name="Class" placeholder="Enter your Class">
    phone <input type="text" name="phone" placeholder="Enter your Phone Number">
    <button>submit</button>
</form>
</body>
</html>